<header class="site-header">

  <div class="wrapper">

    <nav>
      <div class="nav-item"><a href="/#about"><i class="fa fa-male"></i><span class="title">About<span class="n-n"> Me</span></span></a></div>
      <div class="nav-item"><a href="/#work"><i class="fa fa-flask"></i><span class="title"><span class="n-n">My </span>Work</span></a></div>
      <div class="nav-item"><a href="/#skills"><i class="fa fa-wrench"></i><span class="title"><span class="n-n">My </span>Skills</span></a></div>
      <div class="nav-item"><a href="/#contact"><i class="fa fa-envelope"></i><span class="title">Contact<span class="n-n"> Me</span></span></a></div>
    </nav>

  </div>

</header>
