/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    background-color: #C1C1C1;
    /*background: url('/images/forest_1024.png');*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
}

.app-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow: hidden;
    z-index: 1;
}

.app-bar-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
}

.app-bar .logo {
    -webkit-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    line-height: 60px;
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.app-bar-actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: background-color 0.2s ease-out;

    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    width: 60px;
    height: 60px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
    height:24px;
    width: 24px;
}

.promote-layer {
    /*
    This may promote the layer to a composited
    layer.

    Replace with will-change when available

    #perfmatters
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.base, p, ul, ol {
    font-size: 19px;
}

.navdrawer-container {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: #555555;
    color: #fefefe;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    overflow-y: scroll;
}

.navdrawer-container.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
}

.navdrawer-container h4 {
    /*background-color: white;*/
    color: #333;
}

.navdrawer-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navdrawer-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
}

.navdrawer-container ul li:before {
    content: none;
}

.navdrawer-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.navdrawer-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

main {
    margin: 0 auto;
    /* Height of the header */
    /*padding: 60px 16px 16px 16px;*/
    min-height: 100%;
    background: rgba(255,255,255,0.4);
    min-height: 100%;
}

main p a {
    color: #295AB1;
    text-decoration: none;
    font-weight: 800;
}

main p a:visited{
    color: #295AB1;
}

main p a:hover{
    color: #1B3D7B;
}

.bottom a{
    text-align: center;
}

main h3{
    width: 100%;
    background: rgba(255,255,255,0.4);
    margin: 0;
    padding: 16px;
    font-weight: 400;
}

main#work p a, main#contact p a {
    color: #295AB1;
    /*text-decoration: none;*/
    font-weight: 400;
}

main h4{
    font-size: 20px;
    background: rgba(255,255,255,0.4);
    margin: 16px;
    margin-bottom: 0;
    width: auto;
    padding: 16px;
    font-weight: 400;
}

main p{
    padding: 16px;
}

.bottom a img{
max-height: 80%;
max-width: 80%;
margin: auto;
}

main{
    display: none;
}

main#hello{
    display: inline;
}

a:hover{
    text-decoration: underline;
}
/** Larger Screens - desktops and tablets **/
@media all and (min-width: 1000px) {
    .app-bar {
        position: relative;
        margin-left: 25%;
    }

    .app-bar-container {
        display: block;
        height: 0;
        max-width: 864px;
        padding: 0 16px;
        box-sizing: border-box;
        background-color: #4285f4;
        margin-left: 0;
    }

    .me_pic{
        background: url('/images/me.jpg');
        width: 150px !important;
        height: 150px !important;
        background-size: cover;
        background-position: center center;
        border-radius: 200px;
        margin: 15px auto 15px auto;
        margin-top: 15px;
    }

    .app-bar .logo {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 130px;
        font-size: 46px;
    }

    .app-bar-actions {
        float: right;
    }

    .app-bar:after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    button.menu {
        display: none;
    }

    nav {
        display: block;
        margin-top: 130px;
    }

    .navdrawer-container {
       /* position: relative;
        width: 100%;
        height: auto;
        margin-top: 130px;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: none;
        overflow-y: auto;*/
        position: fixed;
        left: 0;
        top: 0;
        width: 25% !important;
        height: 100%;
        background: #d4b370;
        background: #555;
        z-index: 3000;
        margin: 0;
        margin-left: 250px;
    }

    .navdrawer-container h4 {
        display: none;
    }

    .navdrawer-container ul {
        display: block;

        max-width: 864px;
        margin: 0 auto;
        width: 100%;
    }

    .navdrawer-container ul li {
        position: relative;
        border: none;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .navdrawer-container ul li.me{
        background: #d26f72;
        background: #333;
        padding: 15px;
    }

    .navdrawer-container ul li.bottom{
        background: #777;
        padding: 0;
        bottom: 0;
        position: absolute;
    }

    .navdrawer-container ul li a {
        width: 100%;
        display: block;
    }

    .navdrawer-container ul li a.social{
        width: 33.3%;
        float: left;
    }

    main {
        position: absolute;
        /*max-width: 864px;*/
        width: 75%;
        margin: 0;
        right: 0;
        /*background: red;*/
        padding-top: 0;
        min-height: 100%;
    }

    body {
        overflow-y: scroll;
    }

    /*.navdrawer-container {
        position: relative;
        margin-top: 0;
    }*/

    a:hover{
    text-decoration: underline;
    }

    .skill{
        width: 50%;
        float: left;
    }
}

@media all and (max-width: 800px) {
    .app-bar .logo {
        float: none;
        width: 100%;
        line-height: normal;
        text-align: center;
        padding-top: 36px;
    }

    .app-bar-container {
        height: auto;
    }

    .app-bar-actions {
        width: 100%;
    }

    .navdrawer-container {
        /*padding: 0 16px;*/
        overflow-y: auto;
    }
    .navdrawer-container ul li.bottom a{
        width: 33.3%;
        float: left;
    }
    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }

    .navdrawer-container ul li.bottom{
        border-bottom: none;
    }

    .navdrawer-container ul li{
        border-bottom-color: rgba(255,255,255,0.5);
    }
}
